{%- liquid
  assign contact_name_t = 'contact_page.name' | t
  assign contact_email_t = 'contact_page.email' | t
  assign contact_message_t = 'contact_page.message' | t
  assign contact_button_t = 'contact_page.button' | t
  assign open_maps_t = 'sections.map.open_in_maps' | t
  assign shopify_disclaimer_t = 'shopify.online_store.spam_detection.disclaimer_html' | t
-%}

<div class="contact--container">
  {%- if store_address != blank or store_hours != blank -%}
    <div class="contact--left-column">
      {% unless store_address == blank %}
        <div class="contact--address">
          <address class="contact--address-text" data-item="paragraph">
            {{ store_address | newline_to_br }}
          </address>

          <div class="contact--address-link" data-item="block-link">
            <a
              href="https://www.google.ca/maps/place/{{ store_address | url_encode }}"
              target="_blank"
              rel="noreferrer"
            >
              {{ open_maps_t }}
            </a>
          </div>
        </div>
      {% endunless %}

      {% unless store_hours == blank %}
        <div class="contact--hours" data-item="paragraph">
          {{ store_hours }}
        </div>
      {% endunless %}
    </div>
  {%- endif -%}

  <div class="contact--right-column">
    {% form 'contact', id: form_id %}
      <div class="contact--form-details">
        <label for="{{ form_id }}-contact-name" data-item="hidden-text">
          {{ contact_name_t }}
        </label>
        <input
          class="{% if form.errors contains 'name' %}error{% endif %}"
          id="{{ form_id }}-contact-name"
          type="text"
          name="contact[name]"
          value="{{ contact.fields.name }}"
          placeholder="{{ contact_name_t }}"
          autocomplete="name"
          {% if form.errors contains 'name' %}
            aria-invalid="true"
          {% endif %}
        />

        <label for="{{ form_id }}-contact-email" data-item="hidden-text">
          {{ contact_email_t }}
        </label>
        <input
          class="{% if form.errors contains 'email' %}error{% endif %}"
          id="{{ form_id }}-contact-email"
          type="email"
          name="contact[email]"
          value="{{ contact.fields.email }}"
          placeholder="{{ contact_email_t }}"
          autocomplete="email"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
          {% endif %}
          required
        />
      </div>

      <label for="{{ form_id }}-contact-textarea" data-item="hidden-text">
        {{ contact_message_t }}
      </label>
      <textarea
        class="{% if form.errors contains 'body' %}error{% endif %}"
        id="{{ form_id }}-contact-textarea"
        rows="5"
        cols="60"
        name="contact[body]"
        placeholder="{{ contact_message_t }}"
        required
      >{{ contact.fields.body }}</textarea>

      <div class="contact--form-submit" data-item="{{ button_type }}">
        <button type="submit" value="{{ contact_button_t }}">
          {{ contact_button_t }}
        </button>
      </div>

      {%- if form.posted_successfully? or form.errors -%}
        <script>window.location.hash = '#feedback-bar--contact-form';</script>
      {%- endif -%}

      <div data-item="hidden-text">
        {% comment %} remove the below line to display reCAPTCHA badge {% endcomment %}
        {{ shopify_disclaimer_t }}
      </div>
    {% endform %}

    {% if show_social_sharing %}
      <div class="contact--social">
        {% render 'social-follow' %}
      </div>
    {% endif %}
  </div>
</div>