{%- liquid
  assign apply_t = 'filter.apply' | t
  assign collection_t = 'collections.collection' | t
  assign color_t = 'products.color' | t
  assign no_filters_t = 'filter.no_filters' | t
  assign reset_t = 'filter.reset' | t
  assign search_text_t = 'filter.search_by_name' | t
  assign sort_by_t = 'filter.sort_by' | t

  if custom_collection_list == blank
    assign collections_list = collections
  else
    assign collections_list = linklists[custom_collection_list].links
  endif
-%}

<div class="filter--root">
  <div class="filter--wrapper">
    {% if show_collection_list or show_sort_list or show_refine_list %}
      <form class="filter--form">

        {% if show_collection_list %}
          <div class="filter--category">
            <div
              class="filter--toggle"
              tabindex="0"
              data-item="nav-text"
              aria-expanded="false"
              aria-controls="browse-filter"
              role="button"
            >
              {{ collection_t }}
              {% render 'icons', icon: 'chevron-up' %}
              {% render 'icons', icon: 'chevron-down' %}
            </div>

            <ul
              class="filter--menu"
              id="browse-filter"
              data-item="nav-text--sub"
              data-transition="fade-out"
            >
              {%- for collection_item in collections_list -%}
                <li class="filter--link" data-type="browse">
                  <input
                    id="filter--browse--{{ collection_item.title | handle | downcase }}"
                    class="filter--input"
                    type="radio"
                    name="browse"
                    value="{{ collection_item.url }}"
                    tabindex="-1"
                    {% if collection_item.url == collection_url %}
                      checked
                    {% endif %}
                  >
                  <label
                    class="filter--label"
                    for="filter--browse--{{ collection_item.title | handle | downcase }}"
                    data-item="nav-text--sub"
                    tabindex="0"
                  >
                    <span>{{- collection_item.title -}}</span>
                    {%- render 'icons', icon: 'cross' -%}
                  </label>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {% endif %}

        {% if show_sort_list %}
          <div class="filter--category">
            <div
              class="filter--toggle"
              tabindex="0"
              data-item="nav-text"
              aria-expanded="false"
              aria-controls="sort-filter"
              role="button"
            >
              {{ sort_by_t }}
              {% render 'icons', icon: 'chevron-up' %}
              {% render 'icons', icon: 'chevron-down' %}
            </div>

            <ul
              class="filter--menu"
              id="sort-filter"
              data-transition="fade-out"
              role="radiogroup"
            >
              {%- for option in sort_options -%}
                <li class="filter--link" data-type="sort">
                  <input
                    id="filter--sort--{{ option.name | handle | downcase }}"
                    class="filter--input"
                    type="radio"
                    name="sort_by"
                    value="{{ option.value }}"
                    data-label="{{ option.name }}"
                    tabindex="-1"
                    {% if option.value == sort_by %}
                      checked
                    {% endif %}
                  >
                  <label
                    class="filter--label"
                    for="filter--sort--{{ option.name | handle | downcase }}"
                    data-item="nav-text--sub"
                    tabindex="0"
                  >
                    <span>{{- option.name -}}</span>
                    {%- render 'icons', icon: 'cross' -%}
                  </label>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if show_refine_list %}
          {% if filters.size > 0 %}
            {% for filter in filters %}
              <div class="filter--category">
                <div
                  class="filter--toggle"
                  tabindex="0"
                  data-item="nav-text"
                  aria-expanded="false"
                  aria-controls="{{ filter.label | handle | downcase }}-refine-filter"
                  role="button"
                >
                  {{ filter.label }}
                  {% render 'icons', icon: 'chevron-up' %}
                  {% render 'icons', icon: 'chevron-down' %}
                </div>

                {% case filter.type %}
                  {% when 'price_range' %}
                    <div
                      class="filter--menu"
                      data-item="nav-text--sub"
                      id="{{ filter.label | handle | downcase }}-refine-filter"
                      data-transition="fade-out"
                    >
                      <div class="filter--price--container">
                        {%- liquid
                          assign from_t = 'filter.from' | t
                          assign to_t = 'filter.to' | t

                          assign min_value = filter.min_value.value | money_without_currency
                          assign max_value = filter.max_value.value | money_without_currency
                          assign range_max = filter.range_max | money_without_currency

                          assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,UYU,VES,VND' | split: ','
                          assign uses_comma_decimals = false
                          if currencies_using_comma_decimals contains cart.currency.iso_code
                            assign uses_comma_decimals = true
                          endif
                        -%}

                        <div class="filter--price-range">
                          <div class="filter--price-range--button" data-min-price>
                            <div>&nbsp;</div>
                          </div>
                          <div class="filter--price-range--line">
                            <div></div>
                          </div>
                          <div class="filter--price-range--button" data-max-price>
                            <div>&nbsp;</div>
                          </div>
                        </div>
                        <div class="filter--price-fields">
                          <div class="filter--price-field">
                            <span class="filter--price-currency">
                              {{- cart.currency.symbol -}}
                            </span>
                            <input
                              class="filter--price-input"
                              name="{{ filter.min_value.param_name }}"
                              id="filter--price-min"
                              {% if filter.min_value.value and uses_comma_decimals %}
                                value="{{ min_value | replace: '.', '' | round }}"
                              {% elsif filter.min_value.value %}
                                value="{{ min_value | replace: ',', '' | round }}"
                              {% else %}
                                value="0"
                              {% endif %}
                              type="number"
                              min="0"
                              {% if uses_comma_decimals %}
                                max="{{ range_max | replace: '.', '' | round }}"
                              {% else %}
                                max="{{ range_max | replace: ',', '' | round }}"
                              {% endif %}
                              data-min-price
                            >
                            <label
                              class="filter--price-label"
                              for="filter--price-min"
                              data-item="hidden-text"
                            >
                              {{ from_t }}
                            </label>
                          </div>
                          <div class="filter--price-separator">
                            &mdash;
                          </div>
                          <div class="filter--price-field">
                            <span class="filter--price-currency">
                              {{ cart.currency.symbol }}
                            </span>
                            <input
                              class="filter--price-input"
                              name="{{ filter.max_value.param_name }}"
                              id="filter--price-max"
                              {% if filter.max_value.value and uses_comma_decimals %}
                                value="{{ max_value | replace: '.', '' | round }}"
                              {% elsif filter.max_value.value %}
                                value="{{ max_value | replace: ',', '' | round }}"
                              {% elsif uses_comma_decimals %}
                                value="{{ range_max | replace: '.', '' | round }}"
                              {% else %}
                                value="{{ range_max | replace: ',', '' | round }}"
                              {% endif %}
                              type="number"
                              min="0"
                              {% if uses_comma_decimals %}
                                max="{{ range_max | replace: '.', '' | round }}"
                              {% else %}
                                max="{{ range_max | replace: ',', '' | round }}"
                              {% endif %}
                              data-max-price
                            >
                            <label
                              class="filter--price-label"
                              for="filter--price-max"
                              data-item="hidden-text"
                            >
                              {{ to_t }}
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                  {% when 'boolean' or 'list' %}
                    {%- liquid
                      assign is_swatches = false
                      if filter.param_name contains color_t and swatches_enabled
                        assign is_swatches = true
                      endif
                    -%}

                    <ul
                      class="filter--menu"
                      id="{{ filter.label | handle | downcase }}-refine-filter"
                      {% if is_swatches %}
                        data-is-swatches="true"
                      {% endif %}
                      data-transition="fade-out"
                    >
                      {% for filter_value in filter.values %}
                        <li class="filter--link" data-type="refine">
                          <input
                            id="filter--refine--{{ filter.label | handle | downcase }}-{{ filter_value.label | handle | downcase }}"
                            class="filter--input"
                            type="checkbox"
                            name="{{ filter_value.param_name }}"
                            value="{{ filter_value.value }}"
                            data-label="{% if filter.type == 'boolean' %}{{ filter.label }}: {% endif %}{{ filter_value.label }}"
                            tabindex="-1"
                            {% if filter_value.active %}
                              checked
                            {% endif %}
                          >
                          <label
                            class="filter--label"
                            for="filter--refine--{{ filter.label | handle | downcase }}-{{ filter_value.label | handle | downcase }}"
                            tabindex="0"
                            {% if is_swatches %}
                              data-item="swatch"
                            {% endif %}
                          >
                            {%- liquid
                              assign filter_label = filter_value.label | capitalize
                              echo '<span data-item="nav-text--sub">'
                              echo filter_label | append: '</span>'

                              unless is_swatches
                                render 'icons', icon: 'cross'
                              endunless
                            -%}
                          </label>
                        </li>
                      {% endfor %}
                    </ul>

                {% endcase %}
              </div>
            {% endfor %}

          {% else %}
            <div class="filter--no-filters" data-item="caption">
              {{ no_filters_t }}
            </div>

          {% endif %}
        {% endif %}

      </form>
    {% endif %}

    {% if show_search_link %}
      <div class="filter--search">
        <a
          class="filter--search-link"
          href="{{ routes.search_url }}"
          aria-label="{{ search_text_t }}"
          aria-haspopup="true"
        >
          <div class="filter--search-icon">
            {% render 'icons', icon: 'search' %}
          </div>

          <div class="filter--search-text" data-item="nav-text--sub">
            {{ search_text_t }}
          </div>
        </a>
      </div>
    {% endif %}
  </div>

  <div class="filter--button-container">
    <div
      class="filter--button"
      data-type="apply"
      data-item="button"
      data-off-canvas--close
      tabindex="0"
    >
      <span>{{ apply_t }}</span>
    </div>
    <div
      class="filter--button"
      data-type="reset"
      data-item="secondary-button"
      tabindex="0"
    >
      <span>{{ reset_t }}</span>
    </div>
  </div>
</div>