{%- liquid
  assign logo_type = 'text'
  assign logo_to_render = logo

  if logo or inverted_logo
    assign logo_type = 'image'
  endif

  if image_type == 'inverted'
    assign logo_to_render = inverted_logo
  endif

  assign width = height | times: logo_to_render.aspect_ratio | round
  assign mobile_width = mobile_height | times: logo_to_render.aspect_ratio | round
-%}

<div
  class="logo--root"
  data-type="{{ logo_type }}"
  itemscope
  itemtype="https://schema.org/Organization"
>
  <a class="logo--wrapper" href="{{ routes.root_url }}" title="{{ shop.name }}" itemprop="url">
    {% if logo_type == 'image' %}
      <img
        class="logo--image"
        src="{{ logo_to_render | img_url: width }}"
        srcset="{{ logo_to_render | img_url: width }} 1x, {{ logo_to_render | img_url: width, scale: 2 }} 2x"
        alt="{{ logo_to_render.alt | default: shop.name }}"
        itemprop="logo"
        width="{{ width | times: 2 }}"
        height="{{ height | times: 2 }}"
      >
    {% else %}
      <div class="logo--text" data-item="section-heading">
        {{ shop.name }}
      </div>
    {% endif %}
  </a>
</div>

<style>
  .logo--image {
    height: auto;
    max-width: {{ width }}px;
  }

  @media only screen and (max-width: 767px) {
    .logo--image {
      max-width: {{ mobile_width }}px;
    }
  }
</style>