{%- liquid
  assign color_t = 'products.color' | t
  assign compare_price_t = 'sections.onboarding.compare_price' | t
  assign from_t = 'products.from' | t
  assign new_t = 'products.new' | t
  assign off_t = 'products.off' | t
  assign out_of_stock_t = 'products.out_of_stock' | t
  assign price_t = 'sections.onboarding.price' | t
  assign sale_t = 'products.sale' | t
  assign select_options_t = 'products.select_options' | t

  unless section_id
    assign section_id = unique_handle
  endunless

  assign current_variant = product.selected_or_first_available_variant
  assign featured_tags = settings.product--featured-tags | remove: ' ' | split: ','
  assign hover_image_enabled = settings.product--hover-image-enabled
  assign label_color = settings.product--label-color
  assign label_shape = settings.product--label-shape
  assign new_label_period = settings.product--new-label-period
  assign product_id = product.id | append: '-' | append: section_id
  assign rating_enabled = settings.product--show-rating
  assign show_new_label = settings.product--show-new-label
  assign show_quantity = settings.product--show-quantity
  assign smart_payment_enabled = settings.product--smart-payment-button
  assign swatches_enabled = settings.product--swatches-enabled
  assign text_alignment = settings.product--text-alignment
  assign quick_add_enable = settings.product--quick-add-enabled
  assign variant_style = settings.product--variant-style

  assign show_sale_label = settings.product--show-sale-label
  if show_sale_label == 'false'
    assign show_sale_label = false
  endif

  if unique_handle == 'search-ajax'
    assign quick_add_enable = false
  endif

  unless show_vendor
    assign show_vendor = settings.product--show-vendor
  endunless

  unless view
    assign view = 'grid'
  endunless

  if show_new_label
    assign now_timestamp = 'now' | date: '%s'
    assign new_label_period_in_seconds = new_label_period | times: 86400
    assign valid_date = now_timestamp | minus: new_label_period_in_seconds | plus: 0
    assign publish_date = product.published_at | date: '%s' | plus: 0

    assign is_new_product = false
    if valid_date < publish_date
      assign is_new_product = true
    endif
  endif

  unless onboarding
    assign onboarding = false
  endunless

  unless placeholder_index
    assign min = 1
    assign max = 6
    assign diff = max | minus: min
    assign placeholder_index = "now" | date: "%N" | modulo: diff | plus: min
  endunless

  if product.media.size > 1
    capture hover_image
      echo '<div class="product--hover-image" data-item="image">'
        render 'image', image: product.media[1].preview_image
      echo '</div>'
    endcapture
  else
    assign hover_image = false
  endif

  if onboarding
    assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,UYU,VES,VND' | split: ','
    if currencies_using_comma_decimals contains cart.currency.iso_code
      assign compare_price_t = compare_price_t | replace: '.', ','
      assign price_t = price_t | replace: '.', ','
    endif

    assign compare_price = cart.currency.symbol | append: compare_price_t
    assign excerpt = 'sections.onboarding.description' | t
    capture image
      render "placeholder", type: 'product', aspect_ratio: 0.714, placeholder_index: placeholder_index
    endcapture
    assign price = cart.currency.symbol | append: price_t
    assign title = 'sections.onboarding.product_title' | t
    assign url = product.url | within: collection
    assign vendor = 'sections.onboarding.vendor' | t

  else
    capture image
      if product.featured_media.preview_image
        render 'image', image: product.featured_media.preview_image, full_width: true
      else
        render "placeholder", type: 'product', aspect_ratio: 0.714, placeholder_index: placeholder_index
      endif
    endcapture

    assign title = product.title
    assign url = product.url | within: collection
    assign vendor = product.vendor
    assign price = product.price | money

    if product.compare_at_price > product.price and product.available
      assign compare_price = product.compare_at_price | money
    else
      assign compare_price = false
    endif

    assign excerpt = product.metafields.global.description_tag | newline_to_br
    if excerpt == blank
      assign excerpt = product.description | strip_html | truncate: 100 | newline_to_br
    endif

  endif

  capture display_labels
    echo '<div class="product--label-container" data-item="overline">'
      unless product.available or onboarding
        echo '<div class="product--label">'
          echo out_of_stock_t
        echo '</div>'

      elsif show_sale_label and compare_price and onboarding == false
        if show_sale_label == 'show-text'
          assign sale_text = sale_t
        elsif show_sale_label == 'show-percent'
          assign price_diff = product.compare_at_price | minus: product.price
          assign percent_diff = price_diff | times: 100 | divided_by: product.compare_at_price
          assign sale_text = percent_diff | append: '% ' | append: off_t
        endif

        echo '<div class="product--label">'
          echo sale_text
        echo '</div>'

      elsif show_new_label and is_new_product and onboarding == false
        echo '<div class="product--label">'
          echo new_t
        echo '</div>'

      endunless

      if featured_tags.size > 0 and product.available and onboarding == false
        assign break_loop = false

        for featured_tag in featured_tags
          assign formatted_featured_tag = featured_tag | downcase

          for product_tag in product.tags
            assign formatted_product_tag = product_tag | remove: ' ' | downcase

            if formatted_product_tag == formatted_featured_tag
              echo '<div class="product--label">'
                echo product_tag | escape
              echo '</div>'

              assign break_loop = true
              break
            endif

          endfor

          if break_loop
            break
          endif
        endfor
      endif

    echo '</div>'
  endcapture

  capture display_prices
    echo '<div class="product--price-container">'
      echo '<div class="product--price-wrapper">'
        if product.price_varies
          echo '<span class="product--from" data-item="accent-text">'
            echo from_t
          echo '</span>'
        endif

        if compare_price
          echo '<span class="product--compare-price money" data-item="light-accent-text">'
            echo compare_price
          echo '</span>'
        endif

        echo '<span class="product--price money" data-item="accent-text">'
          echo price
        echo '</span>'
      echo '</div>'

      echo '<div class="product--unit-price-container" data-item="small-text">'
        if current_variant.unit_price_measurement
          echo '<span class="product--unit-price">'
            echo current_variant.unit_price | money
          echo '</span>/'

          if current_variant.unit_price_measurement.reference_value != 1
            echo '<span class="product--reference-value">'
              echo current_variant.unit_price_measurement.reference_value
            echo '</span>'
          endif

          echo '<span class="product--reference-unit">'
            echo current_variant.unit_price_measurement.reference_unit
          echo '</span>'
        endif
      echo '</div>'
    echo '</div>'
  endcapture
-%}

<div
  class="product--root"
  data-product-view="{{ view }}"
  data-label-color="{{ label_color }}"
  data-label-shape="{{ label_shape }}"
  data-text-alignment="{{ text_alignment }}"
  {% if hover_image_enabled and hover_image %}
    data-hover-image="true"
  {% endif %}
  {% if view == 'grid' %}
    data-container="block"
  {% endif %}
>
  {{ display_labels }}

  <a href="{{ url }}" aria-label="{{ product.title }}">
    <div class="product--image-wrapper">
      <div class="product--image" data-item="image">
        {{ image }}
      </div>

      {% if hover_image_enabled and hover_image %}
        {{ hover_image }}
      {% endif %}

      {% if quick_add_enable and product.available %}
        <div
          class="product--quick-add"
          tabindex="0"
          data-handle="{{ product.handle }}"
          data-off-canvas--open="right-sidebar"
          {% if product.has_only_default_variant %}
            data-off-canvas--view="cart"
            data-loading="false"
          {% else %}
            data-off-canvas--view="product-form"
          {% endif %}
          aria-haspopup="menu"
        >
          {%- liquid
            if product.has_only_default_variant
              echo '<div class="product--plus">'
                render 'icons', icon: 'plus'
              echo '</div>'

              echo '<div class="product--spinner">'
                render 'loading-spinner'
              echo '</div>'
            else
              echo '<div class="product--ellipses">'
                render 'icons', icon: 'ellipses'
              echo '</div>'
            endif
          -%}
        </div>
      {% endif %}
    </div>

    <div class="product--details-container">
      {%- liquid
        echo '<div class="product--details">'
          echo '<div class="product--details-wrapper">'
            if show_vendor
              echo '<div class="product--vendor" data-item="light-accent-text">'
                echo vendor
              echo '</div>'
            endif

            echo '<p class="product--title" data-item="paragraph">'
              echo title
            echo '</p>'

            if rating_enabled
              echo '<div class="product--rating">'
                render 'product-rating', product: product
              echo '</div>'
            endif

            if swatches_enabled
              echo '<div class="product--swatches--horizontal-view">'
                for option in product.options_with_values
                  assign option_name = option.name | strip | downcase
                  assign unique_id = unique_handle | append: '-horizontal-' | append: product.id

                  if option_name == color_t
                    render 'radios', id: unique_id, option: option, display_swatches_only: true
                    break
                  endif
                endfor
              echo '</div>'
            endif
          echo '</div>'

          echo display_prices
        echo '</div>'

        comment
          "can't use a capture statement for swatches as we need a unique ID"
        endcomment

        if swatches_enabled
          echo '<div class="product--swatches--column-view">'
            for option in product.options_with_values
              assign option_name = option.name | strip | downcase
              assign unique_id = unique_handle | append: '-column-' | append: product.id

              if option_name == color_t
                render 'radios', id: unique_id, option: option, display_swatches_only: true
                break
              endif
            endfor
            echo '</div>'
        endif
      -%}
    </div>
  </a>

  {% if quick_add_enable and product.available %}
    <div class="product--form-for-off-canvas" style="display:none;">
      <product-media-root
        class="product--form"
        data-product-id="{{ product_id }}"
        data-handle="{{ product.handle }}"
      >
        {% unless product.has_only_default_variant %}
          <div class="product--form-select-options" data-item="accent-text">
            {{ select_options_t }}
          </div>

          <a href="{{ product.url }}">
            <h2 class="product--form-title" data-item="section-heading">
              {{ product.title }}
            </h2>
          </a>

          <div class="product--form--media-container">
            {%- for media in product.media -%}
              {%
                render "product--media",
                media_view: "featured",
                product: product,
                inside_carousel: false,
                product_media: media,
                media_size: "desktop"
              %}
            {%- endfor -%}
          </div>
        {% endunless %}

        <div class="product--form--container">
          {%- liquid
            render 'product-price', product: product, id: product_id

            if show_quantity
              render 'product-quantity', id: product_id
            endif

            render 'product-options', id: product_id, product: product, unique_handle: unique_handle, swatches_enabled: swatches_enabled, variant_style: variant_style

            render 'product-buy-buttons', id: product_id, product: product, smart_payment_enabled: smart_payment_enabled
          -%}
        </div>
      </product-media-root>
    </div>
  {% endif %}
</div>