<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="ltr">
  <head>
    <!-- Beyond Theme - Version 2.5.0 by Troop Themes - https://troopthemes.com/ -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com">
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

    <link rel="preload" href="{{ 'theme--critical.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'theme--async.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'lazysizes.min.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'utilities.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'password.js' | asset_url }}" as="script">

    {%- if canonical_url != blank -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {% if settings.favicon != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32 }}" type="image/png">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180 }}">
    {% endif %}

    <title>{{ page_title }} | {{ shop.name }}</title>

    {%- liquid
      render 'social-meta-tags'
      render 'css-typography'
      render 'css-colors'
      render 'js-variables'
      render 'swatch-colors'
    -%}

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
    <script src="{{ 'utilities.js' | asset_url }}"></script>
    <script src="{{ 'password.js' | asset_url }}" defer="defer"></script>

    <noscript>
      <style>
        .layout--main-content > *, .footer--root, .popup-modal-close, .modal--root, .modal--window {
          opacity: 1;
        }
      </style>
      <link href="{{ 'theme--async.css' | asset_url }}" rel="stylesheet">
    </noscript>

    <link href="{{ 'theme--critical.css' | asset_url }}" rel="stylesheet" media="all"/>
    <link
      href="{{ 'theme--async.css' | asset_url }}"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    >

    <style>
      {% render 'custom-styles' %}
    </style>

    {{ content_for_header }}
  </head>

  <body
    class="template--password"
    data-theme-id="939"
    data-theme-name="Beyond"
    data-theme-version="2.5.0"
  >
    <!--[if IE]>
      <div style="text-align:center;padding:72px 16px;">
        {{ 'general.browser_unsupported' | t }}
      </div>
      <style>
        .layout--main-content { display: none; }
      </style>
    <![endif]-->

    <main class="layout--main-content" id="main-content">
      {{ content_for_layout }}
    </main>
  </body>
</html>