{%- liquid
  assign bg_color = section.settings.background-color
  assign container_width = section.settings.container-width
  assign heading = section.settings.heading
  assign light_text = section.settings.light-text
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below
  assign title_alignment = section.settings.title-alignment
-%}

{% if section.blocks.size > 0 %}
  <div
    class="collapsible-tabs--root"
    data-section-id="{{ section.id }}"
    data-background-color="{{ bg_color }}"
    data-container-width="{{ container_width }}"
    data-light-text="{{ light_text }}"
    data-spacing-above="{{ spacing_above }}"
    data-spacing-below="{{ spacing_below }}"
    data-title-alignment="{{ title_alignment }}"
  >
    <div class="collapsible-tabs--wrapper">
      {% if heading != blank %}
        <div class="collapsible-tabs--header">
          <h2 data-item="section-heading">
            {{ heading | escape }}
          </h2>
        </div>
      {% endif %}

      {% for block in section.blocks %}
        <div
          class="collapsible-tabs--block"
          data-block-type="{{ block.type }}"
          {{ block.shopify_attributes }}
        >
          {% render 'collapsible-tab', block: block %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Collapsible tabs",
    "settings": [
      {
        "id": "background-color",
        "label": "Background color",
        "type": "select",
        "options": [
          { "label": "None", "value": "none" },
          { "label": "Light", "value": "light" },
          { "label": "Dark", "value": "dark" },
          { "label": "Accent", "value": "accent" }
        ],
        "default": "none"
      },
      {
        "id": "light-text",
        "label": "Use light text color",
        "type": "checkbox",
        "default": false
      },
      {
        "label": "Heading",
        "id": "heading",
        "type": "text",
        "default": "Collapsible tabs"
      },
      {
        "label": "Position title",
        "id": "title-alignment",
        "type": "radio",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "center", "label": "Center" }
        ],
        "default": "left"
      },
      {
        "id": "container-width",
        "label": "Width of container",
        "type": "range",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "id": "spacing-above",
        "label": "Spacing above",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "spacing-below",
        "label": "Spacing below",
        "type": "checkbox",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "collapsible-tab",
        "name": "Collapsible tab",
        "settings": [
          {
            "id": "heading",
            "label": "Heading",
            "type": "text",
            "default": "Collapsible tab"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Text",
            "default": "<p>Use tabs to highlight unique features, <br/>sizing information, <br/>or other sales information.</p>",
            "info": "You can use product metafields to assign content to this tab that is unique to an individual product. Learn more about [metafields](https://help.shopify.com/en/manual/metafields/displaying-metafields-on-your-online-store)."
          },
          {
            "type": "page",
            "id": "page-content",
            "label": "Tab content from page"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collapsible tabs",
        "blocks": [
          {
            "type": "collapsible-tab"
          },
          {
            "type": "collapsible-tab"
          },
          {
            "type": "collapsible-tab"
          }
        ]
      }
    ]
  }
{% endschema %}