{%- liquid
  assign articles_printed_count = 0
  assign bg_color = section.settings.background-color
  assign blog = blogs[section.settings.blog]
  assign blog_heading = section.settings.blog-heading | escape
  assign container_width = section.settings.container-width
  assign light_text = section.settings.light-text
  assign selected_tag = section.settings.tag-select | downcase | escape
  assign show_date = section.settings.show-date
  assign show_excerpt = section.settings.show-excerpt
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below
  assign view_more_text = section.settings.view-more-text | escape
  assign tag_found = false

  assign button_type = 'button'
  if light_text
    assign button_type = 'inverted-secondary-button'
  endif

  assign columns = 3
  if blog.articles.size == 1 or blog.articles.size == 2
    assign columns = blog.articles.size
  endif
-%}

{% comment %} View {% endcomment %}
<featured-blog-root
  class="featured-blog--root"
  data-background-color="{{ bg_color }}"
  data-container-width="{{ container_width }}"
  data-section-id="{{ section.id }}"
  data-light-text="{{ light_text }}"
  data-spacing-above="{{ spacing_above }}"
  data-spacing-below="{{ spacing_below }}"
  style="display:block;"
>
  <div class="featured-blog--wrapper" data-container="section">
    {% if blog_heading != blank %}
      {% unless blog == blank %}
        <a href="{{ blog.url }}">
      {% endunless %}

      <div class="featured-blog--header" data-container="block">
        <h2 class="featured-blog--heading" data-item="section-heading">
          {{ blog_heading }}
        </h2>
      </div>

      {% unless blog == blank %}
        </a>
      {% endunless %}
    {% endif %}

    <div
      class="featured-blog--grid"
      data-container="panel"
      data-columns="{{ columns }}"
      data-mobile-columns="1"
    >
      {%- liquid
        if blog.articles.size > 0
          for article in blog.articles
            for tag in article.tags
              assign escaped_tag = tag | downcase | escape

              if escaped_tag == selected_tag
                assign tag_found = true

                render "article--item", featured_article: article, show_date: show_date, show_excerpt: show_excerpt, type: 'full_article'
                assign articles_printed_count = articles_printed_count | plus: 1
                break
              endif
            endfor

            if articles_printed_count == 3
              break
            endif
          endfor

          if tag_found == false
            for article in blog.articles limit: 3
              render "article--item", featured_article: article, show_date: show_date, show_excerpt: show_excerpt, type: 'full_article'
            endfor
          endif

        else
          for i in (1..3)
            render "article--item", show_date: show_date, show_excerpt: show_excerpt, type: 'placeholder'
          endfor

        endif
      -%}
    </div>

    {% if view_more_text != blank %}
      <div class="featured-blog--footer" data-container="block">
        <a data-item="{{ button_type }}" href="{{ blog.url }}">
          <div>{{ view_more_text }}</div>
        </a>
      </div>
    {% endif %}
  </div>
</featured-blog-root>

<script type="module">
  import "{{ 'featured-blog.js' | asset_url }}";
</script>

{% schema %}
  {
   "name": "Blog posts",
   "settings":[
      {
      "id": "background-color",
      "label": "Background color",
      "type": "select",
      "options": [
        { "label": "None", "value": "none" },
        { "label": "Light", "value": "light" },
        { "label": "Dark", "value": "dark" },
        { "label": "Accent", "value": "accent" }
      ],
        "default": "none"
      },
      {
        "id": "light-text",
        "label": "Use light text color",
        "type": "checkbox",
        "default": false
      },
      {
        "id": "container-width",
        "label": "Width of container",
        "type": "range",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "id": "spacing-above",
        "label": "Spacing above",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "spacing-below",
        "label": "Spacing below",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "blog-heading",
        "label": "Heading",
        "type": "text",
        "default": "Blog posts"
      },
      {
        "id": "blog",
        "label": "Choose blog",
        "type": "blog"
      },
      {
        "id": "tag-select",
        "label": "Filter by tag",
        "type": "text",
        "default": "pinned",
        "info": "Tag articles with 'pinned' or change this to match an existing tag"
      },
      {
        "id": "show-date",
        "label": "Show date",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "show-excerpt",
        "label": "Show excerpt",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "view-more-text",
        "label": "View more text",
        "type": "text",
        "default": "View more"
      }
   ],
   "presets": [
      {
        "name": "Blog posts",
        "settings": {
          "blog": "News"
        }
      }
    ]
  }
{% endschema %}
