{%- liquid
  assign bg_color = section.settings.background-color
  assign block_spacing = section.settings.block-spacing
  assign container_width = section.settings.container-width
  assign full_width = section.settings.full-width
  assign heading = section.settings.heading
  assign image_width = section.settings.image-width
  assign light_text = section.settings.light-text
  assign link_text = section.settings.link-text
  assign link_url = section.settings.link-url
  assign mobile_width = section.settings.mobile-width
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below
  assign subtitle = section.settings.subtitle
  assign text_alignment = section.settings.text-alignment
  assign width = section.settings.width

  assign header_text_exists = true
  if heading == blank and subtitle == blank
    assign header_text_exists = false
  endif

  assign footer_text_exists = true
  if link_text == blank
    assign footer_text_exists = false
  endif

  assign dark_background = false
  if bg_color == 'dark'
    assign dark_background = true
  endif
-%}

<featured-grid-root
  class="featured-grid--root"
  data-section-id="{{ section.id }}"
  data-background-color="{{ bg_color }}"
  data-block-spacing="{{ block_spacing }}"
  data-container="section"
  data-container-width="{{ container_width }}"
  data-dark-background="{{ dark_background }}"
  data-full-width="{{ full_width }}"
  data-footer-text-exists="{{ footer_text_exists }}"
  data-header-text-exists="{{ header_text_exists }}"
  data-light-text="{{ light_text }}"
  data-mobile-overlay="false"
  data-spacing-above="{{ spacing_above }}"
  data-spacing-below="{{ spacing_below }}"
  data-text-alignment="{{ text_alignment }}"
  data-text-position="bottom"
  style="display:grid;"
>
  {% if header_text_exists %}
    <div class="featured-grid--header" data-container="block">
      {% if heading != blank %}
        <h2 class="featured-grid--heading" data-item="section-heading">
          {{ heading | escape }}
        </h2>
      {% endif %}

      {% if subtitle != blank %}
        <h3 class="featured-grid--subtitle" data-item="paragraph">
          {{ subtitle | escape }}
        </h3>
      {% endif %}
    </div>
  {% endif %}

  <div class="featured-grid--body">
    <div
      class="featured-grid--body--container"
      data-container="panel"
      data-columns="{{ width }}"
      data-mobile-columns="{{ mobile_width }}"
      data-block-spacing="{{ block_spacing }}"
    >
      {% for block in section.blocks %}
        {% liquid
          assign block_link_url = block.settings.link-url
          assign block_link_text = block.settings.link-text
          assign description = block.settings.description
          assign image = block.settings.image
          assign link_wrapper = false
          assign show_image = block.settings.show-image
          assign title = block.settings.title

          if block_link_text == blank and block_link_url != blank and description == blank
            assign link_wrapper = true
          endif
        %}

        <div
          class="featured-grid--item"
          data-image-enabled="{{ show_image }}"
          {{ block.shopify_attributes }}
        >
          {% if link_wrapper %}
            <a
              class="featured-grid--item--link-wrapper"
              href="{{ block_link_url }}"
              {%- if title != blank -%}
                aria-label="{{ title }}"
              {%- else -%}
                aria-label="{{ heading }}"
              {%- endif -%}
            >
          {% endif %}

          <div class="featured-grid--item--container">
            {% if show_image %}
              <div
                class="featured-grid--item--image"
                data-item="image"
                {% if image_width != 0 %}
                  style="max-width:{{ image_width | plus: 16 }}px;"
                {% endif %}
              >
                {% if image %}
                  {%
                    render "image",
                    image: image,
                    full_width: true
                  %}
                {% else %}
                  {%
                    render "placeholder",
                    type: "image",
                    aspect_ratio: 1,
                  %}
                {% endif %}
              </div>
            {% endif %}

            {% if title != blank or description != blank or block_link_text != blank %}
              <div class="featured-grid--item--text-container">
                {% if title != blank %}
                  <h3 class="featured-grid--item--title" data-item="block-heading">
                    {{ title | escape }}
                  </h3>
                {% endif %}

                {% if description != blank %}
                  <div class="featured-grid--item--description" data-item="rte-content">
                    {{ description }}
                  </div>
                {% endif %}

                {% if block_link_text != blank %}
                  <div class="featured-grid--item--link" data-item="block-link">
                    <a
                      class="featured-grid--item--link-container"
                      {% if block_link_url != blank %}
                        href="{{ block_link_url }}"
                      {% endif %}
                    >
                      {{ block_link_text }}
                    </a>
                  </div>
                {% endif %}
              </div>
            {% endif %}

            </div>

          {% if link_wrapper %}
            </a>
          {% endif %}
        </div>

      {% endfor %}
    </div>
  </div>

  {% if footer_text_exists %}
    <div class="featured-grid--footer" data-container="panel">
      <div class="featured-grid--footer--block" data-container="block">
        <a
          class="featured-grid--footer--button"
          data-item="button"
          href="{{ link_url }}"
        >
          <div class="featured-grid--footer--button-container">
            {{ link_text }}
          </div>
        </a>
      </div>
    </div>
  {% endif %}
</featured-grid-root>

<script type="module">
  import "{{ 'featured-grid.js' | asset_url }}";
</script>

{% schema %}
{
  "name": "Text columns with images",
  "settings": [
    {
      "type": "header",
      "content": "Layout and Color"
    },
    {
      "id": "background-color",
      "label": "Background color",
      "type": "select",
      "options": [
        { "label": "None", "value": "none" },
        { "label": "Light", "value": "light" },
        { "label": "Dark", "value": "dark" },
        { "label": "Accent", "value": "accent" }
      ],
      "default": "none"
    },
    {
      "id": "light-text",
      "label": "Use light text color",
      "type": "checkbox",
      "default": false
    },
    {
      "id": "block-spacing",
      "label": "Show spacing between blocks",
      "type": "checkbox",
      "default": true
    },
    {
      "id": "container-width",
      "label": "Width of container",
      "type": "range",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "id": "spacing-above",
      "label": "Spacing above",
      "type": "checkbox",
      "default": true
    },
    {
      "id": "spacing-below",
      "label": "Spacing below",
      "type": "checkbox",
      "default": true
    },
    {
      "id": "width",
      "label": "Blocks per row",
      "type": "range",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "id": "image-width",
      "label": "Image width",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 10,
      "default": 0,
      "info": "Set to 0 for auto sizing"
    },
    {
      "id": "mobile-width",
      "label": "Blocks per row for small devices",
      "type": "radio",
      "options": [
        { "value": "1", "label": "1" },
        { "value": "2", "label": "2" }
      ],
      "default": "2"
    },
    {
      "id": "text-alignment",
      "label": "Text alignment",
      "type": "select",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Text columns with images"
    },
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "Subheading"
    },
    {
      "type": "url",
      "id": "link-url",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "link-text",
      "label": "Link text"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Column",
      "settings": [
        {
          "id": "show-image",
          "label": "Show image",
          "type": "checkbox",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Add a title or tagline"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Explain a set of product features, add illustrations, infographics, logo lists, or link to pages.</p>"
        },
        {
          "type": "url",
          "id": "link-url",
          "label": "Link"
        },
        {
          "id": "link-text",
          "label": "Link text",
          "type": "text",
          "default": "View more"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text columns with images",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}